body {
    background-color: aqua;
    
}

.content-wrapper{
    width: 80%;
    margin: 0% 0% 0% 0%;
    
}

.content-wrapper img{
    width: 100%;
}

.text-wrapper{
    width: 100%
    
}




img{
    width: 100%;
    padding: 19px;
}


/* line 8 down is to help with media queries */
/* line 8 through 39 helps make the div size responsive on the webpage */
/* if need be to change the width of left, main and right to properly add pictures to them when i need */
* {
    box-sizing: border-box;
  }
  /* if need be to change the width of left, main and right to properly add pictures to them when i need */
  .left {
    background-color: #2196F3;
    padding: 17px;
    float: left;
    width: 20%; /* i changed the with to 20% */
  }
  /* if need be to change the width of left, main and right to properly add pictures to them when i need */
  .main {
    font-size: 24px;
    background-color: #f1f1f1;
    padding: 13px;
    float: left;
    width: 20%; /* i changed the with to 20% */
    
  }
  /* if need be to change the width of left, main and right to properly add pictures to them when i need */
  .right {
    font-size: 24px;
    background-color: #04AA6D;
    padding: 13px;
    float: left;
    width: 20%; /* i changed the with to 20% */
  }
  
  /*  help me to remember to Use a media query to add a break point at 800px: */
  @media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }

